.container {
  display: flex;
  flex-direction: column;
}

.containerHeader {
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background 0.5s ease;

  .hamburguerIcon {
    cursor: pointer;
  }
}

.menuGreen {
  background-color: var(--green-900);
}

.menuTransparent {
  background-color: transparent;
}

@keyframes appearMenu {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.menuContainer {
  animation-name: appearMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  height: calc(100vh - 96px);
  background-color: var(--green-900);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding-top: 24px;

  color: var(--beige);
  font-weight: 700;

  position: absolute;
  z-index: 1;
  top: 72px;
  left: 0;
  width: 100%;
}

.buttonContainer {
  button {
    border: 1px solid var(--white);
    color: var(--white);
    transition: filter 0.5s;
    border-radius: 40px;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.socialMedia {
  display: flex;
  column-gap: 32px;

  img {
    cursor: pointer;
  }
}
