.logoGreen {
  cursor: pointer;
  color: var(--gray-headline);
  span {
    color: var(--green-900);
    font-weight: 700;
  }
}

.logoWhite {
  cursor: pointer;
  color: var(--beige);
  span {
    font-weight: 700;
  }
}
