.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-headline);

  transition: background 0.5s ease;
}

.containerGreen {
  background-color: var(--green-900);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
  flex: 1;

  padding: 0px 124px;
  max-width: 1366px;
}

.menu {
  display: flex;
  gap: 32px;

  span {
    height: 76px;
    transition: all 0.2s;
    cursor: pointer;
    color: var(--green-900);

    display: flex;
    align-items: center;

    &:hover {
      color: var(--green-hover);
      font-weight: 700;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        z-index: 1;
        background: var(--green-hover);
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
      }
    }
  }
}

.menuGreen {
  span {
    color: var(--green-500);
    &:hover {
      color: var(--green-200);

      &:after {
        background: var(--green-200);
      }
    }
  }
}

.buttonContainer {
  button {
    border: 1px solid var(--white);
    color: var(--white);
    transition: filter 0.5s;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
