body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

:root {
  --green-900: #00856f;
  --green-500: #dce9e2;
  --green-200: #f7f9f9;
  --green-hover: #00453a;

  --beige: #fffaf1;

  --gray-headline: #061800;
  --gray-paragraph: #384633;

  --white: #3e3e3e;
}
